extends layout

block content
    div.row.padding10
      div.col-xs-12.col-sm-4.columnLeft
        div#chartdiv
      div.col-xs-12.col-sm-4.columnMid
        div#chartDosdiv
      div.col-xs-12.col-sm-4.columnRigth
        div#chartTresdiv
    div.row.padding10
      div#mapdiv
    script(src='javascripts/client/amcharts.js')
    script(src='javascripts/client/ammap.js')
    script(src='javascripts/client/amstock.js')
    script(src='javascripts/client/serial.js')
    script(src='javascripts/client/pie.js')