doctype html
html(lang='en')
    head
        link(href='/stylesheets/bootstrap.css',rel='stylesheet')
        link(href='/stylesheets/normalize.css',rel='stylesheet')
        link(href='/javascripts/client/plugins/export//export.css',rel='stylesheet')
        link(href='/stylesheets/menu.css',rel='stylesheet')
        link(href='/stylesheets/menu1.css',rel='stylesheet')
        link(href='/stylesheets/style.css',rel='stylesheet')
    body
        if user
            .navbar.navbar-default(role='navigation')
                .container
                    .navbar-header
                        button.navbar-toggle(type='button',data-toggle='collapse', data-target='.navbar-collapse')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        img.className#idIcoHLF(src="/images/health.png" alt="LifeFitness")
                    .navbar-collapse.collapse
                        ul.nav.navbar-nav
                            li(class=(title=='Members' ? 'active' : ''))
                                a(href='/') Home
                            if !user
                                li(class=(title=='Register' ? 'active' : ''))
                                    a(href='/users/register') Register
                                li(class=(title=='Login' ? 'active' : ''))
                                    a(href='/users/login') Login
                        ul.nav.navbar-nav.navbar-right
                                li
                                    a.className#lgout(href='/users/logout') Logout

    .container.container2
        !=messages()
        block content

    if user
        div.component
            button.cn-button#cn-button
            div.cn-wrapper#cn-wrapper
                ul
                    li
                        a(href='#')
                            span.glyphicon.glyphicon-home#ghome
                    li
                        a(href='#')
                            span.glyphicon.glyphicon-stats#gstats
                    li
                        a(href='#')
                            span.glyphicon.glyphicon-search#gsearch
                    li
                        a(href='#')
                            span.glyphicon.glyphicon-repeat#greload
                    li
                        a(href='#')
                            span.glyphicon.glyphicon-fullscreen#resizefull
            div.cn-overlay#cn-overlay

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src="/socket.io/socket.io.js")


    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/app.js')
    script(src='/javascripts/modernizr-2.6.2.min.js')
    script(src='/javascripts/polyfills.js')

    script(src='/javascripts/client/ammap.js')
    script(src='/javascripts/client/amcharts.js')
    script(src='/javascripts/client/amstock.js')
    script(src='/javascripts/client/pie.js')

    script(src='/javascripts/client/plugins/export/export.min.js')
    script(src='/javascripts/client/plugins/responsive/responsive.min.js')

    script(src='/javascripts/client/themes/patterns.js')
    script(src='/javascripts/client/themes/light.js')
    script(src='/javascripts/client/maps/js/mexicoHigh.js')


    script(src='/javascripts/mnu.js')
    script(src='/javascripts/msgs.js')