doctype html
html(lang='en')
    head
        link(href='/stylesheets/bootstrap.css',rel='stylesheet')
        link(href='/stylesheets/style.css',rel='stylesheet')


    body

    .container.login
        !=messages()
        block content

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='/javascripts/bootstrap.js')