extends layout_login
block content
    div.hcenter.fill
        div.row
            h2.page-header.text-header Acceso
            form(method='post', action='/users/login')
                .form-group
                    input.form-control(name='username', type='text', placeholder='Usuario')
                    input.form-control(name='password', type='password', placeholder='Contraseña')
                    input.form-control.btn.btn-primary(type='submit',  name='submit', value='Entrar')
    script(src="https://www.googletagmanager.com/gtag/js?id=UA-114044454-1")
    script(src='/javascripts/analytics.js')
