extends layout

block content
    h2.page-header Register
    p Please register using the form below
    ul.errors
        if errors
            each error, i in errors
                div.alert.alert-danger #{error.msg}
    form(method='post', action='/users/register', enctype='multipart/form-data')
        .form-group
            label Name
            input.form-control(name='name', type='text', placeholder='Enter Name')
            label Email
            input.form-control(name='email', type='email', placeholder='Enter Email')
            label Username
            input.form-control(name='username', type='text', placeholder='Enter Username')
            label Password
            input.form-control(name='password', type='password', placeholder='Enter Password')
            label Confirm Password
            input.form-control(name='password2', type='password', placeholder='Confirm Password')
            label Profile Image
            input.form-control(name='profileimage', type='file')

        input.btn.btn-primary(type='submit', name='submit', value='Register')