html{
    min-height: 100%;
    height: 100%;
}
body{
    background: #323b44;
    height: 100%;
    overflow: hidden;

    background-image: url(../images/grid.png);
    background-position: 50% 50%;
    color: #FFFFFF;
    line-height: 1.4;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 80%;
    text-align: center;
}


ul.success li{
    padding:15px;
    margin-bottom:20px;
    botder:1px solid transparent;
    border-radius:4px;
    color:#3c763d;
    background-color: #dff0d8;
    boder-color:#d6e9c6;
    list-style:none;
}

ul.error li{
    padding:15px;
    margin-bottom:20px;
    botder:1px solid transparent;
    border-radius:4px;
    color:#a94442;
    background-color: #f2dede;
    boder-color:#ebccd1;
}

.center {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.hcenter {
    margin: auto;
    max-width: 300px;
}
.vcenter {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.form-group > input{
    margin-bottom:10px;
}

.text-header{
    text-align:center;
    color:#337ab7;
}
.fill {
    min-height: 100%;
    height: 100%;
}

#messages{
    margin-top: 5px;
    position: fixed;
    top: 41px;
    margin: 0 auto;
    left: 25%;
    width: 51%;
    z-index: 99;
}

.absoluteLeft{
    position:absolute;
    left:0px;
    top:0px;
    margin:10px;
}

#messages > ul > li{
    list-style: none;
    font-size: 1.3em;
}

#tmpCrcl {
    animation: float 1s infinite ease-in-out alternate;
}


#tmpCrcl {
    animation-delay: .8s;
}

@keyframes float { 100% {  transform: translateY(20px); } }

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #6f5e5e;
}


body >.container, .container2 {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
    min-height: 91.9%;
    min-width: 98.4%;
    margin: 10px;
    border-radius: 9px;
    margin-top: -9px;
}

.container2 {
    border: 0.5px solid rgba(255, 255, 255, 0.28);
    background: rgb(60, 73, 86);
    background: rgba(60, 73, 86, 0.28);
}

#messages{
    animation: fadeout 1s;
    -moz-animation: fadeout 1s; /* Firefox */
    -webkit-animation: fadeout 1s; /* Safari and Chrome */
    -o-animation: fadeout 1s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.btn-primary {
    background-color: #3bafda;
    border: 1px solid #3bafda;
}
.btn-primary:hover {
    color: #fff;
    background-color: #6f99bd;
    border-color: #204d74;
}

.navbar{
    background-color: #3c4956;
    border: 0px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.28);
    min-height: 32px;
    max-height: 32px;
}
.navbar-header{
    min-height: 32px;
    max-height: 32px;
}
.navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a,.navbar-right >li > a {
    background-color: transparent;
    color: white;
    font-size: 1.3em;
}

#idIcoHLF{
    width: 28px;
    padding-top: 6px;
    padding-right: 4px;
}

#lgout{
    color:white !important;
}
.active > a:before,.nav  >li > a:before {
    content: "";
    position: absolute;
    color:white;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #3bafda;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.active > a:hover:before, .nav  >li > a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
body >.container{
    display:inline-block;
}
.padding10{
    padding:10px;
    min-height: 91%;
    width: 98.5%;
    left: 2%;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
}

#chartdiv,#chartDosdiv,#chartTresdiv,#mapdiv {
    width: 100% !important;
    height:250px !important;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius:4px;
    top:14px;
}